@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
body{
  
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: clip;
  overflow-y: scroll;
}
#root{ 
}
.navbar{
  display: flex;
  align-items: center;
  padding:5px;
  max-height: 300px;
  border-bottom-width: 1vh;
  border-color: #c72e2e;
  border: solid #dad7d7;
  border-width: 0 0 1px 0 ;
  justify-content: space-evenly;
}
.naver{
  flex:1;
  justify-content: space-evenly;
  list-style: none;
  display: inline-block;
  margin-right: 50px;
}
.naver li{
  margin-left:30px
}
.navbar h1{
  margin-left: 130px;
}
.naver input{
  width:200px;
  height: 30px;
  border: 1px solid #ccc;

}
ul{
  display: inline-block;
}
nav ul li{
  list-style-type: none;
  display: inline-block;
  padding-left: 10px;
}
.lowerbox{
  display: flex;
  flex-direction:row;
   width: 100vw;
   overflow: hidden;
   height: 300px;
}
.categories{
padding: 60px;
 border:solid #dad7d7;
 border-width: 0 1px 0 0;
}
.banner{
  padding: 2%;
  width: max-content;
flex:2;
text-align: right;
}
.todayspecial::after{
  content: "";
  height: 50px;
  width: 90px;
  background: #c72e2e;
  border-radius: 10px;
}
.name-timer-nav{
  display: flex;
  flex-direction:row;
 justify-content: left;
}
#timer{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: xx-large;
  width:300px;
  background-color: rgb(244, 244, 244);
  border-radius: 10px;
}
#navbtn{
  margin-left: auto;
  width: 120px;
  border-width: 20px;
  display: flex;
  flex-direction: row;
  padding: 30px;
gap: 30px;
color: grey;
}

.product-carousel{
  display: flex;
  flex-direction:row;
  overflow: hide;
  gap:10px;
 max-height: 800px;
 overflow-x: scroll;
width: 100vw;
height: 400px;
overflow-y:hidden;
scroll-behavior: smooth;}
.product-carousel::-webkit-scrollbar{
  display: none;
}
.scrollhide::-webkit-scrollbar{
  display: none;
}
.product{
  margin-top: 30px;
  height: fit-content;
  padding: 10px;
  width:200px;
   padding-inline: 10px;
   background-color: #f0f0f0;
   cursor: pointer;
   border-radius: 10px;
   transition-duration: 0.5s;
}
.product:hover{
  scale:1.1;
  margin-bottom:10px;
}
.product img{
  height: 100%;
  width:100%;
}
.hearteye{
 
  display: flex;
  flex-direction: column;
  gap:10px;
  scale: 1.2;
}
.lister{
  display: flex;
  flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 10px;
}
.lister div{
padding:10px;
}
.loginbody{
  position:absolute;
  background: radial-gradient(#fff,#DB4444);
  width:100vw;
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}
.form-container{
  border-radius: 10px;
  display: flex;
  flex-direction: column;
 position: relative;
  background:#fff;
  width:300px;
  height:400px;
  text-align: center;
  padding: 20px 0 20px;
  margin: auto;
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
  transform: translate 0.5s;
  overflow: hidden;
}
.form-cont{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  gap:90px;
  overflow: hidden;
}
.form-cont form{
  max-width: 300px;
  padding:0 20px;
  top:130px;
  position: absolute;
  transition: transform 1s;
  display: inline-block;
  overflow: hidden;
  border-radius: 10px;
}
.form-container span{
  font-weight: bold;
  padding:0 10px;
  color: #000;
  cursor: pointer;
  width: 100px;
  display:inline-block
}
.form-btn{
  display: inline-block;
  color:#000;
}
.form-container form{
  border-radius: 10px;
}
form input{
  width:100%;
  height: 30px;
  margin:10px 0;
  border: 1px solid #ccc;
}
.btn{
  width: 100%;
  border:none;
  cursor: pointer;
  background-color:#db4444;
  height: 30px;
  padding: 0 10px;
  color: #fff;
  border-radius: 5px;
  transition: 0.2s;
}
.btngoogle{
  margin-top: 15px;
  width: 100%;
  border:solid #dad7d7;
  cursor: pointer;
  background-color: #fff;
  height: fit-content;
  padding: 0 10px;
  border-radius: 5px;
}
.btn:hover{
  scale: 1.1;
  background: #fff;
  color:#000;
}
#login-form{
  max-width: 250px;
 position: absolute;
 left: -500px;
}
#reg-form{
position: absolute;
right: 0;
}

.girder{
  overflow: hidden;
  grid-template-columns: 40px 40px 40px;
  grid-template-columns: 40px 40px 40px;
  grid-gap: 10px;
}
#side-section div{
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
  transition-duration: 0.1s;
  height:30px ;
}
#side-section div:hover{

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 scale:1.2
}
.bahar:hover > .carter{
  display:flex;
 align-items: center;
 justify-content: center;
 background-color: aqua;
opacity: 1;
height: 30px;
color:#fff;
transform: translate(0px,0px);
}
.carter{
  display: flex;
 align-items: center;
 justify-content: center;
opacity:0;
transform: translate(0px,30px);
color:transparent;

 transition-duration: 0.45s;
}
.hoverer:hover div.overlay{
  opacity: 1;
}
.overlay{
  display: flex;
  justify-content: space-between;
  flex:0;
  opacity: 0; 
  transition-duration: 0.45s;
  transform: translate(-5px,0px);
}
.product:hover >.overlay{
  opacity:1;
  transform: translate(5px,0px)
}

.iconer:hover{
  scale:1.1;

}
#topper h1{
  background-image: linear-gradient(-40deg,black,brown,#fa8fa3,red,orange,rgb(255, 204, 0),rgb(37, 198, 47), indigo, rgb(0, 85, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Playfair Display", sans-serif;
  font-size: 50px;
}
.iconer{
  scale: 1;
  transition-duration: 0.1s;
}
#footersocial div{
  display: inline-block;
  margin-left: 20px;
}
.categorybox{
  display: flex;
  align-items: center;
  justify-content: center;
width:fit-content;
height:fit-content;
padding:30px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #cececcd7 ;
  cursor: pointer;
transition-duration: 0.1s;

}
.categorybox:hover{
  scale:1.1;
  background-color:#DB4444;
  color: #fff;
}
#login-form input{ 
  transition-duration:0.01s ;
  background-color: #efeeee;
  border:none;
}
#login-form input:focus{
  outline: none;
  border-bottom: solid #DB4444;
  border-width: 2px;
}
#login-form input::selection{
border-bottom: solid #db4444;
}

#reg-form input{ 
  transition-duration:0.01s ;
  background-color: #efeeee;
  border:none;
}
#lowbord{
width:0px;
transition-duration: 0.5s;
height: 2px;
}
#reg-form input:focus #lowbord{
width:300px;
outline: none;
}
#reg-form input::selection{
border-bottom: solid #db4444;
}

.categoryshow{ 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px;
  grid-auto-rows: minmax(100px, auto);
}
.grid-item{
  grid-row: span 1;
  grid-column: span 1;
}